Checks: "-*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  cert-*,
  -clang-analyzer-cplusplus*,
  -bugprone-easily-swappable-parameters,
  -modernize-*,
  -cppcoreguidelines-*,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling"
