Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  clang-analyzer-core.*,
  clang-analyzer-unix.*,
  clang-analyzer-security.*,
  clang-analyzer-nullability.*,
  performance-*,
  portability-*,
  -cppcoreguidelines-*,
  -bugprone-easily-swappable-parameters
